.about{
  padding-top: 200px;
  background-color: rgb(252, 251, 251);
}
.aboutus >.aboutUs-section2{
  background-color: white;
  border-radius: 1rem;
}
.main-bg {
  position: relative;           /* for overlay positioning */
  background-image: url("/images/aboutimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  z-index: 1;
}

/* Overlay layer */
.main-bg::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;   /* dark overlay */
  opacity: 0.4;              /* adjust darkness */
  z-index: -1;               /* keep behind text */
}
.aboutus-container {
  position: relative; /* important for absolute positioning */
  display: inline-block;
}

.main-img {
  width: 380px;
  height: 400px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
}

.flower {
  position: absolute;
  top: -140px;   /* adjust placement */
  left: -120px;  /* adjust placement */

  width: 300px; /* make flower bigger */
  z-index: 0;   /* goes behind */
  opacity: 1; /* soft faded look */
  color: grey;
}

.autoRotate{
  animation: rotation;
  animation-timeline: view();
}
@keyframes rotation {
  from{
     transform: rotate(0deg);
  }
  to{
     transform: rotate(360deg);
  }
  
}

/* chefs */

