/* Auto-suggestion list */
.list-group {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ced4da #f8f9fa; /* Firefox: thumb and track */
}

/* Chrome, Edge, Safari */
.list-group::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
}

.list-group::-webkit-scrollbar-track {
  background: #f8f9fa; /* lighter track */
  border-radius: 4px;
}

.list-group::-webkit-scrollbar-thumb {
  background-color: #ced4da; /* thumb color */
  border-radius: 4px;
  border: 2px solid #f8f9fa; /* padding around thumb */
}

/* Optional: hover effect */
.list-group::-webkit-scrollbar-thumb:hover {
  background-color: #adb5bd;
}



/* Make suggestion dropdown more touch-friendly on mobile */
@media (max-width: 576px) {
  .voice-suggestion-list {
    max-height: 250px;
    font-size: 0.9rem;
    z-index: 99999;
    position: fixed;
  }

  .voice-suggestion-list li {
    padding: 8px 10px;
    display: block;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .voice-suggestion-list img {
    width: 25px !important;
    height: 25px !important;
  }

  .input-group {
    width: 100% !important;
  }
}
